In [2]:
def functiontest():
    print("function test")
    print("sasa")
print("out of scope")
functiontest()

out of scope
function test
sasa

In [15]:
a = 49
b = 7

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

56
42
343
7.0
7
0
678223072849

In [3]:
test_string = "Nama saya David"

In [4]:
test_string.isalnum()

False

In [5]:
myList2 = [1,[2],[3,4]]

In [6]:
print(myList2[2][1])

4

In [8]:
list_2 = [9,8,3,10]
list_2.sort()

In [9]:
print(list_2)

[3, 8, 9, 10]

In [10]:
list_2.append(-3)
print(list_2)

[3, 8, 9, 10, -3]

In [11]:
exist_val = list_2[3]
list_2[3] = list_2[4]
list_2[4] = exist_val

list_2

[3, 8, 9, -3, 10]

In [12]:
aboutMe = {"name":"David", "age":20, "hobbies":["cooking", "kdrama"]}
aboutMe

{'name': 'David', 'age': 20, 'hobbies': ['cooking', 'kdrama']}

In [13]:
aboutMe['name']

'David'

In [14]:
aboutMe['occupation'] = 'fresh-graduate'
aboutMe

{'name': 'David',
 'age': 20,
 'hobbies': ['cooking', 'kdrama'],
 'occupation': 'fresh-graduate'}